.topbar {
  height:60px;
  background:white;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 20px;
  box-shadow:0 1px 5px rgba(0,0,0,.05);
}

.topbar input {
  border:none;
  outline:none;
  background:#f1f5f9;
  padding:6px 12px;
  border-radius:20px;
}

.avatar {
  border-radius:50%;
}
