body {
  font-family: Arial;
  background:#f5f7fa;
  padding:20px;
}

.card {
  background:white;
  padding:15px;
  margin-bottom:15px;
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.status-active{
  color: #16a34a !important;
  font-weight: 600;
}

.status-expired{
  color: #dc2626 !important;
  font-weight: 600;
}