<nav class="gm-navbar">
  <div class="gm-nav-left">
    <img src="assets/images/logo.png" class="gm-logo">
  </div>

  <!-- HAMBURGER -->
  <div class="gm-hamburger" onclick="toggleMenu()">☰</div>

  <ul class="gm-nav-menu" id="gmNavMenu">
    <li><a href="zones.html">Zones</a></li>

    <li class="dropdown">
      <a href="#">Dashboard ▾</a>
      <ul class="dropdown-menu">
        <li><a href="/my-coins.html">My Coins</a></li>
        <li><a href="/mycoupons.html">My Coupon</a></li>
        <li><a href="booking-list.html">Booking List</a></li>
        <li><a href="booking-history.html">Booking History</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a href="#">Signup ▾</a>
      <ul class="dropdown-menu">
        <li><a href="profile.html">Profile</a></li>
        <li><a href="login.html">Login</a></li>
      </ul>
    </li>

    <li><a href="newspaper.html">Newspaper</a></li>
    <li><a href="admission.html">Admission Now</a></li>
  </ul>
</nav>

<script src="../assets/js/main.js"></script>

