<div class="sidebar">

  <div class="logo">GM Library</div>

  <ul class="menu">

    <li class="active" onclick="loadPage('students')">
      <i class="bi bi-people"></i> User
    </li>

    <li onclick="loadPage('create-zone')">
      <i class="bi bi-book"></i> Library
    </li>

    <li onclick="loadPage('notes-affairs')">
      <i class="bi bi-journal"></i> Notes
    </li>

    <li onclick="loadPage('locker')">
      <i class="bi bi-lock"></i> Locker
    </li>

    <li onclick="loadPage('canteen')">
      <i class="bi bi-cup-hot"></i> Canteen
    </li>

  </ul>

</div>